<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
<div class="card mx-auto my-5 p-4 login-or-create">
  <%= form_for(@user) do |f| %>

    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :introduction, "自己紹介" %>
      <%= f.text_area :introduction, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :image, "アイコン画像"%>
      <%= f.file_field :image, class: '' %>
    </div>

    <%= f.submit "更新", class: "raised" %>
  <% end %>
</div>
</div>
