<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="container">
  <div class="card mx-auto my-5 p-3 login-or-create">
    <div class="text-center my-3 h1">会員登録</div>

      <%= form_for(@user) do |f| %>
        
        <div class="form-group mt-4">
          <%= f.label :user_name, "ニックネーム" %>
          <%= f.text_field :user_name, placeholder: "例）スタクラ", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, placeholder: "例）email@sysdog.com", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password, "パスワード（８文字以上）" %>
          <%= f.password_field :password, placeholder: "••••••••", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "パスワード（再入力）" %>
          <%= f.password_field :password_confirmation, placeholder: "••••••••", class: "form-control" %>
        </div>

        <% if @user.errors.any? %>
          <div id="error_explanation">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li class="small text-danger"><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= f.submit "会員登録", class: "btn btn-primary btn-lg mx-auto my-4 w-100 text-white" %>

      <% end %>

    </div>
  </div>
</div>