<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :user_name %>
      <%= f.text_field :user_name %><br>

      <%= f.label :email %>
      <%= f.text_field :email %><br>

      <%= f.label :password %>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %><br>

      <%= f.submit "会員登録", class: "btn btn-large btn-primary" %><br>
    <% end %>
  </div>
</div>
