<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5">
  <div class="max-width-800 mx-auto">
    <!-- 編集ボタン・編集ポップアップ -->
    <div class="text-right">
      <% if session[:user_id] == @user.id %>
        <% if current_user.email != "guest@sysdog.com" %>
          <button type="button" class="btn btn-outline-soc1" data-toggle="modal" data-target="#exampleModal">編集</button>
        <% end %>
      <% end %>
    </div>
    <%= render partial: 'users/edit', locals: { user: @user } %>
    <!-- ここまで編集 -->

    <!-- ユーザー情報 -->
    <div class="mb-5">
      <div class="row">
        <div class="col-3 text-center">
          <%= image_tag @user.image.to_s %>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="h3"><%= @user.user_name %></div>
          </div>
          <div class="row">
            <div class="mt-3">
              <%= @user.introduction %><br>
            </div>
          </div>      
        </div>
      </div>
    </div>
    <hr>
    <div class="mt-5">
      <div class="h3">開催予定</div>
      <% if @host_plans.empty? %>
        <div class="h5">現在開催予定の勉強会はありません</div>
      <% else %>
        <% @host_plans.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">参加予定</div>
      <% if @guest_plans.empty? %>
        <div class="h5">現在参加予定の勉強会はありません</div>
      <% else %>
        <% @guest_plans.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">開催履歴</div>
      <% if @host_histories.empty? %>
        <div class="h5">開催履歴はありません</div>
      <% else %>
        <% @host_histories.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">参加履歴</div>
      <% if @guest_histories.empty? %>
        <div class="h5">参加履歴はありません</div>
      <% else %>
        <% @guest_histories.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

