<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5">
  <div class="max-width-800 mx-auto">
    <%= image_tag @user.image.to_s, class: "profile-img ml-3" %>
    <div class="p-3 profile rounded">
      <div class="text-right">
        <% if session[:user_id] == @user.id %>
          <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#exampleModal">編集</button>
        <% else %>
          <button type="button" class="btn btn-outline-light">フォロー</button>
        <% end %>
      </div>
      <div class="card-title h5 text-white">
        <%= @user.user_name %>
      </div>
      <div class="card-text text-white">
        <%= @user.introduction %>
      </div>
    </div>
    <%= render partial: 'users/edit', locals: { user: @user } %>

    <% if !@host_now.empty? %>
      <div class="mt-5">
        <div class="h3">進行中</div>
        <% @host_now.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      </div>
    <% end %>
    <% if !@guest_now.empty? %>
      <div class="mt-5">
        <div class="h3">進行中</div>
        <% @guest_now.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-5">
      <div class="h3">開催予定</div>
      <% if @host_plans.empty? %>
        <div class="h5">現在開催予定の勉強会はありません</div>
      <% else %>
        <% @host_plans.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">参加予定</div>
      <% if @guest_plans.empty? %>
        <div class="h5">現在参加予定の勉強会はありません</div>
      <% else %>
        <% @guest_plans.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">開催履歴</div>
      <% if @host_histories.empty? %>
        <div class="h5">開催履歴はありません</div>
      <% else %>
        <% @host_histories.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
    <div class="mt-5">
      <div class="h3">参加履歴</div>
      <% if @guest_histories.empty? %>
        <div class="h5">参加履歴はありません</div>
      <% else %>
        <% @guest_histories.each do |room| %>
          <%= render partial: 'rooms/room', locals: { room: room } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

