<%= form_with model: @room do |f| %>
        
  <div class="form-group">
    <%= f.label :room_name, "タイトル" %>
    <%= f.text_field :room_name, class: "form-control disabled" %>
  </div>

  <div class="form-group">
    <%= f.label :room_detail, "内容" %>
    <%= f.text_area :room_detail, size: "x4", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :room_date, "日にち" %>
    <%= f.date_field :room_date, class: "form-control", id: "date" %>
  </div>

  <div class="row">
    <div class="form-group col-3">
      <%= f.label :room_start_time, "開始時刻" %>
      <%= f.select :room_start_hour, room_capacity, {}, class: "form-control", id: "startHour" %>
    </div>
    <div class="form-group col-3">
      <%= f.label :room_start_time %>
      <%= f.select :room_start_minute, room_capacity, {}, class: "form-control", id: "startMinute", label: false %>
    </div>
    <div class="form-group col-3">
      <%= f.label :room_start_time, "終了時刻" %>
      <%= f.select :room_start_hour, room_capacity, {}, class: "form-control", id: "startHour" %>
    </div>
    <div class="form-group col-3">
      <%= f.label :room_end_time %>
      <%= f.select :room_end_minute, room_capacity, {}, class: "form-control", id: "endMinute" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :room_capacity, "定員" %>
    <%= f.select :room_capacity, room_capacity, {}, class: "form-control", id: "capacity" %>
  </div>
  
  <%= f.submit "作成する", class: "btn btn-soc1 btn-lg btn-block mt-5", id: "submitButton" %>

<% end %>