<div class="card p-3 mt-3">
  <div class="row">
    <div class="col-9">
      <div class="card-title">
        <%= link_to room.room_name, room_path(room) %>
      </div>
      <div class="card-text">
        <%= link_to room.room_detail, room_path(room), class: "small text-muted" %>
      </div>
      <hr>
      <div class="d-flex justify-content-between">
        <div class="small mb-0">
          開催者：<%= link_to room.user.user_name, user_path(room.user) %>
        </div>
        <div class="small mb-0">
          <i class="fas fa-user-friends"></i>：<%= room.room_capacity %>名
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row h-100 align-items-center">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
          <div class="date-day-month m-auto">
            <div class="date-day">
              <div class="date">
                <%= room.room_start_datetime.strftime("%-d") %>
              </div>
              <div class="day">
                <%= room.room_start_datetime.strftime("%a") %>
              </div>
            </div>
            <div class="month">
              <%= room.room_start_datetime.strftime("%-m月") %>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 text-center">
          <div class="d-inline d-lg-block">
            <%= room.room_start_datetime.strftime("%-H:%M") %>
          </div>
          <div class="d-inline d-lg-block">
            〜
          </div>
          <div>
            <%= room.room_end_datetime.strftime("%-H:%M") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
