<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5">
  <div class="mx-auto max-width-600">
    <div class="d-flex justify-content-between">
      <div class="h2">勉強会編集</div>
      <%= link_to room_path, method: :delete, class: "btn btn-outline-soc2 ml-auto mt-auto", data: { confirm: '勉強会を削除してよろしいですか？' } do %>
        <i class="fas fa-trash-alt"></i>&nbsp;削除
      <% end %>
      </div>
    <div class="mt-4">
      <%= form_with model: @room, local: true do |f| %>
        
        <div class="form-group">
          <%= f.label :room_name, "タイトル" %>
          <%= f.text_field :room_name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :room_detail, "内容" %>
          <%= f.text_area :room_detail, size: "x4", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :room_start_datetime, "開始日時" %>
          <%= f.datetime_field :room_start_datetime, readonly: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :room_end_datetime, "終了日時" %>
          <%= f.datetime_field :room_end_datetime, readonly: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :room_capacity, "定員" %>
          <%= f.select :room_capacity, capacity_option, {}, {class: "form-control", id: "capacity"} %>
        </div>
        
        <%= f.submit "更新する", class: "btn btn-soc2 btn-lg btn-block mt-5", id: "submitButton" %>

      <% end %>
    </div>
  </div>
</div>

<!-- 開始、終了日時、定員を編集できないようにdisabled属性を付与 -->
<!-- ボタンの表示を更新するに設定する -->
<script>
  window.onload = function() {
    const capacity = document.getElementById("capacity")
    capacity.disabled = true
  }
  $(document).ready( function(){
    const capacity = document.getElementById("capacity")
    capacity.disabled = true
  });
</script>