<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= form_with model: @room do |f| %>
  
  <div class="form-group">
    <%= f.label :room_name, "タイトル" %>
    <%= f.text_field :room_name, class: "" %>
  </div>

  <div class="form-group">
    <%= f.label :room_detail, "内容" %>
    <%= f.text_area :room_detail, class: "" %>
  </div>

  <div class="form-group">
    <%= f.label :room_start_datetime, "開始日時" %>
    <%= f.datetime_field :room_start_datetime, :minute_step => 15, class: "" %>
  </div>

  <div class="form-group">
    <%= f.label :room_start_datetime, "終了日時" %>
    <%= f.datetime_field :room_end_datetime, :minute_step => 15, class: "" %>
  </div>

  <div class="form-group">
    <%= f.label :room_capacity, "定員" %>
    <%= f.select :room_capacity, room_capacity, class: "" %>
  </div>
  
  <%= f.submit "作成", class: "" %>

<% end %>