<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container my-5">
  <div class="max-width-800 mx-auto">
    <div class="d-flex justify-content-between">
    </div>
    <div class="row my-4 border-bottom pb-2">
      <%= link_to :back, class: "btn btn-outline-soc1" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <div class="h3 mx-auto"><%= @room.room_name %></div>
    </div>
    <% if @room.room_delete_flg == 1 %>
      <div>この勉強会は削除されました</div>
    <% else %>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">詳細</div>
        </div>
        <div class="col-9">
          <div class=""><%= @room.room_detail %></div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">開催日</div>
        </div>
        <div class="col-9">
          <div class=""><%= @room.room_start_datetime.strftime("%-m月%-d日") %>（<%= day_to_japanese(@room) %>）</div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">時間</div>
        </div>
        <div class="col-9">
          <div class=""><%= @room.room_start_datetime.strftime("%-H:%M") %> 〜 <%= @room.room_end_datetime.strftime("%-H:%M") %>（<%= room_hours(@room) %>）</div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">定員</div>
        </div>
        <div class="col-9">
          <div class=""><%= @room.room_capacity %> 名</div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">開催者</div>
        </div>
        <div class="col-9">
          <div class=""><%= link_to @room.user.user_name, @room.user %></div>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 border-right border-success">
          <div class="float-right">参加者</div>
        </div>
        <div class="col-9">
          <div class=""><%= @guests.count %> / <%= @room.room_capacity %> 名</div>
        </div>
      </div>
    <% end %>
    <% if logged_in? %>
      <% if @room.room_start_datetime > Time.zone.now %>
        <% if @room.user_id == session[:user_id] %>
          <%= link_to "修正する", edit_room_path(@room), class: "btn btn-outline-soc2 btn-lg btn-block mt-5" %>
        <% else %>
          <% if @guests.where(user_id: session[:user_id]).empty? %>
            <%= link_to "予約する", room_reservations_path(@room), method: :post, class: "btn btn-soc1 btn-lg btn-block mt-5" %>
          <% else %>
            <%= link_to "キャンセルする", room_reservation_path(@room), method: :delete, class: "btn btn-outline-soc1 btn-lg btn-block mt-5" %>
          <% end %>
        <% end %>
      <% elsif @room.room_end_datetime > Time.zone.now %>
        <% if @room.user_id == session[:user_id] || @guests.where(user_id: session[:user_id]).present? %>
          <%= link_to "入室する", "/chats", class: "btn btn-soc2 btn-lg btn-block mt-5" %>
        <% else %>
          <div class="btn btn-outline-soc2 btn-lg btn-block mt-5 disabled">開催中</div>
        <% end %>
      <% end %>
    <% else %>
      <div class="btn btn-outline-soc1 btn-lg btn-block mt-5 disabled">ログインすると予約可能になります</div>
    <% end %>
  </div>
</div>